# .htaccess
# ------------
# the .htaccess file customizes how the server will behave
# comments in .htaccess begin with a number sign (like this line does)

#ErrorDocument <errorNumber> <path>
ErrorDocument 404 /404.php

SetEnv TZ Canada/Pacific

#Disable directory browsing
Options All -Indexes

AddDefaultCharset UTF-8

#AddType and AddHandler can be instructed to parse .html files as .php
AddType application/x-httpd-php .html
AddHandler application/x-httpd-php .html

#disable cache for css
<filesMatch ".(css)$">
	Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
</filesMatch>
